{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}


   <center>  <h1>Hello {{ controller_name }}! ✅</h1>

    <h1>Ici c'est l'accueil</h1>




 

</center>
{% endblock %}
